<% unless @user.errors.empty? %>
    <div id = 'errors' class="alert alert-danger">
      <a class="close" data-dismiss="alert" href="#">&times;</a>

      <div>Registration failed</div>
      <ul>
        <% @user.errors.full_messages.each do |e| %>
            <li><%= e %></li>
        <% end %>
      </ul>
    </div>
<% end %>

